* {
  box-sizing: border-box;
}

body {
  background-color: slategray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  margin: 2rem;
}

h1 {
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-top: none;
  border-inline: none;
  padding-bottom: 1rem;
}

h2 {
  color: lightskyblue;
}

nav {
  text-align: right;
}

a:hover {
  color: lightskyblue;
}

a {
  text-decoration: none;
  color: white;
}

ol {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

li {
  padding: 0.5rem;
  border-style: solid;
  border-color: white;
  border-top: none;
  border-inline: none;
  border-width: 1px;
}

.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h3 {
  margin-bottom: 0rem;
}

p {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.product-tags {
  color: lightskyblue;
}

.product-price {
  font-size: 1.5rem;
  text-align: right;
}

.product a {
  font-size: 1.3rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 2rem;
  /* text-align: center; */
  max-width: fit-content;
  padding: 1rem;
}
