* {
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #3d3d3d;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 2rem;
}

h1 {
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-top: none;
  border-inline: none;
  padding-bottom: 1rem;
}

h2 {
  color: #2a9df4;
  margin-top: 0rem;
}

nav {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a:hover {
  color: lightskyblue;
}

a {
  text-decoration: none;
  color: white;
}

ol {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
  margin-bottom: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}

li {
  padding: 0.5rem;
  border-style: solid;
  border-color: white;
  border-top: none;
  border-inline: none;
  border-width: 1px;
}

.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;
}

.product a:hover {
  background-color: #2a9df4;
  border-color: #2a9df4;
  color: white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h3 {
  margin-bottom: 0rem;
}

p {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.product-tags {
  color: lightskyblue;
  margin: 0.3rem;
  margin-inline: 0rem;
}

.product-price {
  font-size: 1.5rem;
  text-align: right;
}

.product a {
  font-size: 1.3rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  max-width: fit-content;
  padding: 1rem;
}

h4 {
  color: lightskyblue;
  font-size: 1.2rem;
}

.product-button {
  font-size: 1.3rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  max-width: fit-content;
  padding: 1rem;
}

.product-button:hover {
  background-color: #2a9df4;
  border-color: #2a9df4;
}

article.discount-label,
article.soldout-label {
  display: none;
}

.onSale .product-price {
  color: lightskyblue;
}

article.onSale .discount-label {
  display: block;
  background-color: #253da1;
  max-width: max-content;
  padding: 0.5rem;
  font-size: 1.5rem;
  position: absolute;
  margin: 1rem;
  border-radius: 1rem;
}

article.soldOut img {
  opacity: 60%;
}

article.soldOut .soldout-label {
  display: block;
  background-color: white;
  color: #253da1;
  font-weight: bold;
  max-width: max-content;
  padding: 0.5rem;
  font-size: 1.5rem;
  position: absolute;
  margin: 1rem;
  border-radius: 1rem;
  align-self: flex-end;
}

.purchase-box {
  display: flex;
  flex-direction: column;
}

.purchase-box ol {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: max-content;
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.purchase-box li {
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.purchase-box li:hover {
  background-color: #2a9df4;
  border-color: #2a9df4;
}

.product-text-box {
  background-color: grey;
  padding: 1rem;
  padding-top: 0.2rem;
  border-radius: 1rem;
}

@media only screen and (min-width: 600px) {
  .purchase-box {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 1rem;
    align-items: center;
  }

  .product-price {
    margin: 1rem;
  }
}
